{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Kushal Raj Sharma</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Kushal Raj Sharma. Currently Pursuing Bachelors in
                    Computer Science and Information Technology. My main focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Web 3.0</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:kuxall0@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                kuxall0@gmail.com<br><br>
                <a target="_blank" href='https://github.com/kuxall'><img
                        src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
                kuxallbr><br>
                <a target="_blank" href='https://www.linkedin.com/in/kushal-raj-sharma-259044176/www.linkedin.com/in/pythonistkushal'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                Kushal<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ashish Gyawali/h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ashish Gyawali. Currently Pursuing Bachelors in
                    Computer Science and Information Technology.My main focus is on Web Dev and Flutter app development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:aashishgyawali60@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                        aashishgyawali60@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/aacs/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174855.png" height="44" width="44"></a> :
                Aashish<br><br>
               <br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}